.goods {
  list-style: none;
}
.modal {
  visibility: hidden;
  box-sizing: border-box;
  width: 400px;
  height: 273px;
  border: 2px solid #a0befd;
  background-color: #cfdeff;
  position: absolute;
  left: 100%;
  top: -2px;
}
.good {
  flex-basis: 200px;
}
.modal__title {
  margin: 5px;
}
.modal__list {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.goods__item {
  display: flex;
  gap: 50px;
  width: 200px;
  padding: 10px;
  position: relative;
  border: 2px solid #000;
  cursor: grab;
}
.goods__item.dragging {
  opacity: .5;
}
.goods__item:active {
  cursor: grabbing;
}
.goods__item:not(:last-child) {
  border-bottom: none;
}
.good__title {
  margin: 0;
  text-align: center;
}
.goods__item:hover {
  border: 2px solid #a0befd;
  background-color: #cfdeff;
}
.goods__item:hover .modal {
  visibility: visible;
}
